- content_for :title do
  Index

= inline_editable(:main)

%ul
  %li= link_to 'Resume', resume_path
  %li= link_to 'Projects', projects_path
  %li= link_to 'Skills', tags_path
  %li= link_to 'Blog', posts_path
