= f.input :title
= f.input :company
= f.input :company_url
= f.input :company_description
= f.input :start_date, start_year: f.object.min_year, end_year: f.object.max_year
= f.input :end_date, include_blank: true, start_year: f.object.min_year, end_year: f.object.max_year
= f.input :details, as: :array
- if @tags.any?
  = f.association :tags, as: :check_boxes, checked: f.object.tag_ids,
    collection: @tags.map { |t| [t.name, t.id] }
= f.submit 'Save', class: 'btn btn-primary'
= link_to 'Cancel', occupations_path, class: 'btn btn-default'
