%table
  %tbody
    %tr
      %td
        = education.school + (',' if education.city || education.state?)
        - if education.city?
          = education.city + (',' if education.state)
        - if education.state?
          = education.state
      %td.pull-right
        #{ education.start_date.month } #{ education.start_date.year } -
        - if education.end_date?
          #{ education.end_date.month } #{ education.end_date.year }
        - else
          Present
    %tr
      %td{ colspan: 2 }
        - if education.degree?
          = education.degree
          - if education.field_of_study?
            in #{ education.field_of_study }
        - elsif education.field_of_study?
          Field of study: #{ education.field_of_study }
