.entry
  .heading
    %h3= occupation.title
    = occupation.company
    = ", #{ occupation.city }" if occupation.city?
    = ", #{ occupation.state }" if occupation.state?
  .time
    #{ occupation.start_date.strftime('%B %Y') } -
    - if occupation.end_date?
      = occupation.end_date.strftime('%B %Y')
    - else
      Present
  .description
    %ul
      - occupation.details.each do |detail|
        %li= detail
