.entry
  .heading
    %h3= occupation.title
    %span>= occupation.company
    %span>= ", #{ occupation.city }" if occupation.city?
    %span= ", #{ occupation.state }" if occupation.state?
  .time
    = occupation_time(occupation)
  .description
    - if occupation.details.any?
      %ul
        - occupation.details.each do |detail|
          %li= detail
