.entry
  .heading
    %h3= occupation.title
    %span>= occupation.company
    %span>= ", #{ occupation.city }" if occupation.city?
    %span= ", #{ occupation.state }" if occupation.state?
  .time
    #{ occupation.start_date.strftime('%B %Y') } -
    - if occupation.end_date?
      = occupation.end_date.strftime('%B %Y')
    - else
      Present
  .description
    - if occupation.details.any?
      %ul
        - occupation.details.each do |detail|
          %li= detail
