- content_for :title do
  Resume

#resume
  %section#education
    %h2 Education
    = render partial: 'education', collection: @resume.educations
  %section#certifications
    %h2 Certifications
    = render partial: 'certification', collection: @resume.certifications
  %section#experience
    %h2 Employment Experience
    = render partial: 'occupation', collection: @resume.occupations
  = link_to "\u2193 PDF", resume_path(format: :pdf), class: 'button'
  = link_to "\u2193 TXT", resume_path(format: :text), class: 'button'
