%tr
  %td= tag.name
  %td.hidden-xs= tag.certifications_count
  %td.hidden-xs= tag.educations_count
  %td.hidden-xs= tag.occupations_count
  %td.hidden-xs= tag.projects_count
  %td.right= render 'layouts/actions', object: tag
