= f.input :name
= f.input :description
= f.input :link
= f.input :source_link
= f.input :image
= f.submit 'Save', class: 'btn btn-primary'
= link_to 'Cancel', admin_projects_path, class: 'btn btn-default'
