= f.input :name
= f.input :description
= f.input :link
= f.input :source_link
= f.input :image
- if @tags.any?
  = f.association :tags, as: :check_boxes, checked: f.object.tag_ids,
    collection: @tags.map { |t| [t.name, t.id] }
= render 'layouts/form_actions', f: f
