- content_for :title do
  #{ @tag.name } Experience

#resume
  - if @tag.certifications.any?
    %h2 Certifications
    = render collection: @tag.certifications, partial: 'resume/certification'
  - if @tag.educations.any?
    %h2 Education
    = render collection: @tag.educations, partial: 'resume/education'
  - if @tag.occupations.any?
    %h2 Occupations
    = render collection: @tag.occupations, partial: 'resume/occupation'
  - if @tag.projects.any?
    %h2 Projects
    = render collection: @tag.projects, partial: 'resume/project'
  %p= link_to 'Back', tags_path
