!!! 5
%html
  %head
    %title
      Admin
      = "| #{ yield :title }" if content_for? :title
    %meta{ name: 'viewport', content: 'width=device-width', :'initial-scale' => '1.0' }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = favicon_link_tag 'admin_favicon.ico'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ aria: { controls: 'navbar', expanded: 'false' },
            data: { target: '#navbar', toggle: 'collapse' }, type: 'button' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to '<3', root_path, class: 'navbar-brand', target: '_blank'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = nav_link_to('Admin', admin_root_path, 'static_pages')
            = nav_link_to('Posts')
            = nav_link_to('Certifications')
            = nav_link_to('Education')
            = nav_link_to('Occupations')
            = nav_link_to('Projects')
            = nav_link_to('Tags')
          %ul.nav.navbar-nav.navbar-right
            %li= link_to (logged_in? ? 'Log out' : 'Leave'), logout_path
    .container
      - if content_for? :title
        %h1= yield :title

      = render 'layouts/flash_messages'

      = yield
