= f.input :organization
= f.input :name
= f.input :date_acquired
= f.input :score
- if @tags.any?
  = f.association :tags, collection: @tags, input_html: { multiple: true }
= render 'layouts/form_actions', f: f
