= f.input :organization
= f.input :name
= f.input :date_acquired
= f.input :score
- if @tags.any?
  = f.association :tags, as: :check_boxes, checked: f.object.tag_ids,
    collection: @tags.map { |t| [t.name, t.id] }
= render 'layouts/form_actions', f: f
