= f.input :school
= f.input :field_of_study
= f.input :degree
= f.input :city
= f.input :state
= f.input :start_date
= f.input :end_date
= f.submit 'Save', class: 'btn btn-primary'
= link_to 'Cancel', educations_path, class: 'btn btn-default'
