!!! 5
%html
  %head
    %title= yield :title
    %meta{ name: 'viewport', content: 'width=device-width', :'initial-scale' => '1.0' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag
    = csrf_meta_tags
    - if logged_in?
      :javascript
        function onMercuryReady() { Mercury.saveUrl = '/mercury_update'; }
  %body
    %header
      .wrap
        - if logged_in?
          #edit_page
            - if params[:mercury_frame]
              = link_to 'CANCEL', request.path, class: 'button alert'
            - else
              = link_to 'EDIT', "/editor#{ request.path }", class: 'button alert'
        %h1
          %span<= yield :title
          %span.blinking-cursor>
      %nav
        .wrap
          %ul
            - nav_links.each do |text, path|
              %li>= link_to text, path, class: nav_class(path, request.path)
            %li
              = link_to raw('&#9776;'), 'javascript:void(0)', id: 'sandwhich'
    %main
      .wrap
        = yield
    %footer
      .wrap
        .right
          = link_to 'LinkedIn', 'https://www.linkedin.com/in/zanewoodfin', target: '_blank'
          = link_to 'GitHub', 'https://github.com/alienfungi', target: '_blank'
          = link_to 'Facebook', 'https://www.facebook.com/zane.woodfin', target: '_blank'
          = link_to 'Twitter', 'https://twitter.com/alienfungi', target: '_blank'
        .left
          &copy; #{ Date.today.year } ZaneCo, an almost imagined non-entity
